<div role="tabpanel" class="tab-pane config-section active" id="settings">
	<form method="POST" autocomplete="off" class="w-100">

        <div class="form-group">
			<label>
				Docker API URL
				<small class="form-text text-muted">
					Docker API URL to connect
				</small>
			</label>
			<input type="text" class="form-control" id="docker-api-url" name="docker_api_url" value="{{ configs.get("docker_api_url") }}">
		</div>

        <div class="form-group">
			<label>
				Frp API IP
				<small class="form-text text-muted">
					Frp API IP
				</small>
			</label>
			<input type="text" class="form-control" id="frp-api-ip" name="frp_api_ip" value="{{ configs.get("frp_api_ip") }}">
		</div>

        <div class="form-group">
			<label>
				Frp API Port
				<small class="form-text text-muted">
					Frp API Port
				</small>
			</label>
			<input type="text" class="form-control" id="frp-api-port" name="frp_api_port" value="{{ configs.get("frp_api_port") }}">
		</div>

        <div class="form-group">
			<label>
				Frp Http Domain Suffix
				<small class="form-text text-muted">
					Docker API URL to connect
				</small>
			</label>
			<input type="text" class="form-control" id="frp-http-domain-suffix" name="frp_http_domain_suffix" value="{{ configs.get("frp_http_domain_suffix") }}">
		</div>

        <div class="form-group">
			<label>
				Frp Http Port
				<small class="form-text text-muted">
					For http redirect
				</small>
			</label>
			<input type="number" class="form-control" id="frp-http-port" name="frp_http_port" value="{{ configs.get("frp_http_port") }}">
		</div>

        <div class="form-group">
			<label>
				Frp Direct IP Address
				<small class="form-text text-muted">
					For direct redirect
				</small>
			</label>
			<input type="text" class="form-control" id="frp-direct-ip-address" name="frp_direct_ip_address" value="{{ configs.get("frp_direct_ip_address") }}">
		</div>

        <div class="form-group">
			<label>
				Frp Direct Minimum Port
				<small class="form-text text-muted">
					For direct redirect
				</small>
			</label>
			<input type="text" class="form-control" id="frp-direct-port-minimum" name="frp_direct_port_minimum" value="{{ configs.get("frp_direct_port_minimum") }}">
		</div>

        <div class="form-group">
			<label>
				Frp Direct Maximum Port
				<small class="form-text text-muted">
					For direct redirect
				</small>
			</label>
			<input type="text" class="form-control" id="frp-direct-port-maximum" name="frp_direct_port_maximum" value="{{ configs.get("frp_direct_port_maximum") }}">
		</div>

        <div class="form-group">
			<label>
				Max Container Count
				<small class="form-text text-muted">
					Max Container Count
				</small>
			</label>
			<input type="text" class="form-control" id="docker-max-container-count" name="docker_max_container_count" value="{{ configs.get("docker_max_container_count") }}">
		</div>

        <div class="form-group">
			<label>
				Max Renewal Times
				<small class="form-text text-muted">
					Max Renewal Times
				</small>
			</label>
			<input type="text" class="form-control" id="docker-max-renew-count" name="docker_max_renew_count" value="{{ configs.get("docker_max_renew_count") }}">
		</div>

        <div class="form-group">
			<label>
				Frp config template
				<small class="form-text text-muted">
                    Frp config template, only need common section!
				</small>
			</label>
			<textarea class="form-control" id="frp-config-template" name="frp_config_template" rows="7">{{ configs.get("frp_config_template") }}</textarea>
		</div>

        <div class="form-group">
			<label>
				Docker Auto Connect Containers
				<small class="form-text text-muted">
					Decide which container will be connected to multi-container-network automatically. Separated by commas.
				</small>
			</label>
			<input type="text" class="form-control" id="docker-auto-connect-containers" name="docker_auto_connect_containers" value="{{ configs.get("docker_auto_connect_containers") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Auto Connect Network
				<small class="form-text text-muted">
					Decide which network will be connected for single-container.
				</small>
			</label>
			<input type="text" class="form-control" id="docker-auto-connect-network" name="docker_auto_connect_network" value="{{ configs.get("docker_auto_connect_network") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Dns Setting
				<small class="form-text text-muted">
					Decide which dns will be used in container network.
				</small>
			</label>
			<input type="text" class="form-control" id="docker-dns" name="docker_dns" value="{{ configs.get("docker_dns") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Swarm Nodes
				<small class="form-text text-muted">
					Will pick up one from it, You should set your node with label name=windows-* or name=linux-*. Separated by commas.
				</small>
			</label>
			<input type="text" class="form-control" id="docker-swarm-nodes" name="docker_swarm_nodes" value="{{ configs.get("docker_swarm_nodes") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Multi-Container Network Subnet
				<small class="form-text text-muted">
					Subnet which auto create network will use to divide.
				</small>
			</label>
			<input type="text" class="form-control" id="docker-subnet" name="docker_subnet" value="{{ configs.get("docker_subnet", "174.1.0.0/16") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Multi-Container Network Subnet New Prefix
				<small class="form-text text-muted">
					Prefix for auto create network.
				</small>
			</label>
			<input type="number" class="form-control" id="docker-subnet-new-prefix" name="docker_subnet_new_prefix" value="{{ configs.get("docker_subnet_new_prefix", "24") }}">
		</div>

        <div class="form-group">
			<label>
				Docker Container Timeout
				<small class="form-text text-muted">
					Docker container running timeout. 3600 mean 3600s.
				</small>
			</label>
			<input type="number" class="form-control" id="docker-timeout" name="docker_timeout" value="{{ configs.get("docker_timeout", "3600") }}">
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>